html, 
body {
    font-size: 62,5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

ul, li, h1, h2, h3, h4, h4, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

.header {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, 
    rgba(212, 20, 90, 0.7) 98.16%);
    padding: 2.3rem 0 2.6rem 0; 
    color: #fff; 
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 63%;
}

.header__telephone-img {
    width: 2rem;
    height: 2rem;
}

.header__maps-img {
    width: 2rem;
    height: 2rem;
}

.header__inst-img {
    width: 3rem;
    height: 3rem;
}

.header__inst-img, .header__maps-img, .header__telephone-img {
    margin-right: 1.5rem;
}

.header__telephone-text span:nth-child(1) {
    margin-right: 1.2rem;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__telephone, .header__maps, .header__inst {
    display: flex;
    align-items: center;
}

.header__inst span {
    line-height: 100%;
}

.footer {
    padding-top: 17.2rem;
    padding-bottom: 8.4rem;
    position: relative;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12rem;
    padding-right: 12rem;
}

.footer__inst-img {
    width: 3.3rem;
    height: 3.3rem;
}

.footer__header {
    margin-bottom: 1rem;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 114%;
}

.footer__adress ul{
    max-width: 22.4rem;
}

.footer__adress ul > li:nth-child(1) {
    margin-bottom: 1rem;
}

.footer__decor-1 {
    width: 11rem;
    height: 12.5rem;   
    position: absolute;   
    left: 20%;
    top: 47%;
    transform: translate(-50%, -50%);
}

.footer__decor-2 {
    width: 23.3rem;
    height: 26.4rem; 
    position: absolute;  
    left: 77%;
    top: 47%;
    transform: translate(-50%, -50%);     
}

.footer__wrap li {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
}

.main__display {
    padding-top: 4.7rem;
}

.main__display-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__display-logo {
    display: flex;
    align-items: center;
}

.main-display__logo-img {
    width: 10rem;
    height: 6rem;
    margin-right: 1.1rem;
}

.main-display__title {
    font-style: italic;
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;
    color: #000000;
}

.main__display-nav li {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
    color: #737373;
}

.main__display-nav li:not(:last-child) {
    margin-right: 2.5rem;
}

.main__display-nav {
    display: flex;
}

.main__display-center {
    display: flex;
    justify-content: space-between; 
    background: url(../img/header0bg.png) no-repeat center right -7.4rem;
    background-size: contain; 
}

.main__display-left {
    padding-top: 19rem;
}

.main__display-right {
    width: 63.3rem;
    height: 68.6rem;
}

.main__display-header {
    font-weight: 900;
    font-size: 5rem;
    line-height: 118%;
    margin-bottom: 2rem;
}

.main__display-subheader {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 117%;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.main__display-btn {
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border-radius: 0.7rem;
    font-weight: 900;
    font-size: 2rem;
    line-height: 115%;
    color: #FFFFFF;
    padding: 1.5rem 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.about__header {
    font-weight: 400;
    font-size: 5rem;
    line-height: 118%;
    text-align: center;
    margin-bottom: 12rem;
}

.about__header span {
    background: linear-gradient(90deg, rgba(185,1,96, 1) 0%, rgba(61, 91, 245, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__items {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 29%);
    gap: 0 6.1rem;
}

.about__item {
    /* flex-basis: 28%; */
    box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
    border-radius: 0.9rem;
    overflow: hidden;  
}

.about__item-header {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 117%;
    margin-bottom: 2.2rem;
}

.about__item-description {
    background: #FFFFFF;
    padding: 5%;    
}

.about__item-img {
    width: 100%;
    height: 21.5rem;
}

.about__item-img img {
    object-fit: cover;
}

.about__item-text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
    color: #767676;
}

.review {
    margin-top: 20rem;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    padding: 5rem 0;
}

.review__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 25rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0.9rem;
    padding: 6.3rem 3rem 5rem 3rem;
}

.review__slide-photo {
    clip-path: polygon(50% 5%, 98% 30%, 98% 69%, 50% 95%, 0% 66%, 1% 33%);
    width: 10.5rem;
    height: 12.5rem;
    background-color: #fff;
}

.review__slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 45%);
    clip-path: polygon(50% 4%, 96% 30%, 96% 69%, 50% 96%, 2% 66%, 3% 33%);
    width: 11.5rem;
    height: 13rem;
    background: linear-gradient(90deg, rgba(185,1,96, 1) 0%, rgba(61, 91, 245, 1) 100%);
}

.review__wrapper {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.review__slide-text {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
    text-align: center;
}

.review__slide-text:after {
    content: "";
    display: block;
    margin-top: 15px;
    height: 0.2rem;
    width: 13rem;
    background: linear-gradient(90deg, rgba(185,1,96, 1) 0%, rgba(61, 91, 245, 1) 100%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.review__slide-name {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 115%;
    color: #8E8E8E;
    margin-top: 2rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(4rem);
    padding: 3rem 0;
    display: none;
    z-index: 999999999;
}

.active {
    display: flex;
}

.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 118rem;
    margin: 0 auto;
    background: #fff url(../img/modalgb.svg) no-repeat;
    box-shadow: 0rem 0rem 3.5rem rgba(212, 20, 90, 0.25);
    border-radius: 1.5rem;
    background-position: center;
    background-size: cover;
}

.modal__inner-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal__item {
    width: 75rem;
    display: flex;
    justify-content: space-between;
}

.modal__item:first-child {
    margin-bottom: 1.7rem;
}

.modal__input {
    width: 36rem;
    min-height: 5rem;
    outline: none;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
    color: #989898;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    border: 1px solid #A2A2A2;
    border-radius: 9px;
}

.modal__item-long {
    width: 100%;
    min-height: 8rem;
    margin-bottom: 4rem;
}

.modal__text {
    border: 1px solid #A2A2A2;
    border-radius: 9px;
    width: 100%;
    outline: none;
    resize: none;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 117%;
    color: #989898;
    padding: 1rem 2.1rem;
}

.modal__inner-header {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 28px;
    color: #000000;
    margin-bottom: 4.5rem;
}

.modal__button {
    max-width: 17rem;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 115%;
    padding: 1rem 3rem;
} 

.modal__policy {
    display: flex;
    align-items: center;
    line-height: 115%;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.modal__policy input {
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;
}

.modal__policy a {
    text-decoration: none;
}